.container {
    text-align: center;
    margin-top: 20vh;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
  }
  